<div class="wrapper">
  <% if current_user %>
    <div class="description" style="text-align: center;">
      <span id="status">Processing data...</span><br>Please Hold (this usually takes about 15-30 seconds)
    </div>
    <script>
      window.onload = function() {
        window.location = '/find';
      };
      $(function() {
        var delay = 3000;
        var index = 0;
        var strings = ['Reticulating splines...',
                       'Crunching numbers...',
                       'Reading Buzzfeed...',
                       'Watching grass grow...',
                       'Adding zeroes and ones...',
                       'Checking the sports score...',
                       'Defragmenting hard drive...'];
        var status = $('#status');
        var changeStatus = function() {
          status.fadeOut(300, function() {
            status.text(strings[index]);
            status.fadeIn(300);
          });
          index++;
          if (index >= strings.length) index = 0;
          window.setTimeout(changeStatus, delay);
        };
        window.setTimeout(changeStatus, delay);
      });
    </script>
  <% else %>
    <div class="description">
      <p><em>Stop Friend Spam</em> lets you know which of your friends spam you the most (via buzzfeed, upworthy, etc).</p>
      <p>Log in with facebook and we'll show you the results. It's up to you if you want to continue being friends afterwards.</p>
    </div>
    <%= link_to "", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>