/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url(/assets/twinkle_twinkle.png) repeat;
  color: white;
}

body, html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.outer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/stop-spam.png) no-repeat 50% 40px;
}

/*todo: fix this*/
/*@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .outer-wrapper {
    background: url(/assets/stop-spam@2x.png) no-repeat 50% 40px;
  }
}*/

.wrapper {
  min-width: 340px;
  width: 100%;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  background: #1e242a;
  background: rgba(30,36,42,0.93);
}

.description {
  font-size: 1.1em;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  letter-spacing: 1px;
}

.description p {
  margin: 0;
  margin-bottom: 5px;
}

.description a {
  color: white;
}

#status {
  font-size: 1.3em;
}

.user-creds {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

#sign_in {
  background: url('/assets/login-sprite.png') no-repeat 0 0;
  width: 340px;
  height: 72px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

#sign_in:hover {
  background-position-y: -72px;
}

#sign_in:active {
  background-position-y: -144px;
}

/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .outer-wrapper {
    background: url(/assets/stop-spam.png) no-repeat 50% 20px;
  }
}

@media only screen
and (max-width : 500px) {
  .outer-wrapper {
    background: url(/assets/stop-spam.png) no-repeat 50% 20px;
  }
}*/

.spam-list {
  width: 600px;
  height: 102px;
  line-height: 102px;
  padding-bottom: 10px;
  list-style: none;
  color: black;
  font-weight: normal
}

.spam-list a {
  color: black;
  padding-left: 125px;
}

.spam-list img {
  float: right;
  width: 86px;
  height: 86px;
  margin: 8px 5px 0 0;
}

.spam-list-1 {
  background: url(/assets/spam-list-1.png) no-repeat;
}

.spam-list-2 {
  background: url(/assets/spam-list-2.png) no-repeat;
}

.spam-list-3 {
  background: url(/assets/spam-list-3.png) no-repeat;
}

.spam-list-4 {
  background: url(/assets/spam-list-4.png) no-repeat;
}

.spam-list-5 {
  background: url(/assets/spam-list-5.png) no-repeat;
}